*{
    margin: 0%;
    padding: 0%;
}

/* header main menu */

.menu{
    width: 100%;
    background-color: gainsboro;  
    position: fixed;
    margin-top: 0%;
}

.main-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: gainsboro;  
    padding: 20px 50px;
    margin: 0px;   
    font-size: larger;
      
}

.main-menu li a:hover{
    display: inline;
    text-decoration: none;
    color: white;
    background-color: orange; 
    padding: 20px 50px;
    margin: 0px;   
    font-size: larger;
}


/* image carasoul */

.image-carasoul img{
    width: 100%;
    padding-top: 70px;
}

/* products */

.products{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.product{
    width: 20%;
    display: flexbox;
    background-color: gainsboro;
    padding: 10px;
    text-align: center;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
}

.product img{
    height: 250px;
    width: 80%;
    margin-bottom: 5px;

}

.product p{
    font-size: 18px;
    text-align: center;
}

.product a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: orange;
    padding: 5px 100px;
}